@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background: #a3a3a3;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a3a3a3;
}

@media (prefers-color-scheme: dark) {
  ::-webkit-scrollbar-track {
    background: #262626;
  }

  ::-webkit-scrollbar-thumb {
    background: #525252;
    border-radius: 5px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #525252;
  }
}